body {
  font-family: "Frank Ruhl Libre", serif;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;

  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
small {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
  color-interpolation-filters: initial;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 72px;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
  padding: 10px 10px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
  padding: 10px 10px;
}

#padding-forecast {
  padding: 5px 5px;
}
